.colorful { 
  .ms-w {
    color: var(--ms-mana-w);
  }
  .ms-u {
    color: var(--ms-mana-u);
  }
  .ms-b {
    color: var(--ms-mana-b);
  }
  .ms-r {
    color: var(--ms-mana-r);
  }
  .ms-g {
    color: var(--ms-mana-g)
  }
  .ms-c {
    color: var(--ms-mana-c);
  }
  .ms-h {
    border-radius: 100%;
    &.hw {
      background-color: var(--ms-mana-g);
    }
    &.hu {
      background-color: var(--ms-mana-u);
    }
    &.hr {
      background-color: var(--ms-mana-r);
    }
    &.hg {
      background-color: var(--ms-mana-g);
    }
    &.hb {
      background-color: var(--ms-mana-b);
    }
    &.hc {
      background-color: var(--ms-mana-c);
    }
  }
  .var,
  .num {
    font-size: .9em;
    /* text-align: center;
    align-items: center;
    height: 1.2em;
    width: 1.2em; 
    color: black;
    background-color: var(--ms-mana-c);
    border-radius: 100%; */
  }
}