.colorful {
  .ms-w {
    color: var(--ms-mana-w);
  }
  .ms-u {
    color: var(--ms-mana-u);
  }
  .ms-b {
    color: var(--ms-mana-b);
  }
  .ms-r {
    color: var(--ms-mana-r);
  }
  .ms-g {
    color: var(--ms-mana-g)
  }
  .ms-c {
    color: var(--ms-mana-c);
  }
  .ms-h {
    border-radius: 100%;
    &.hw {
      background-color: var(--ms-mana-g);
    }
    &.hu {
      background-color: var(--ms-mana-u);
    }
    &.hr {
      background-color: var(--ms-mana-r);
    }
    &.hg {
      background-color: var(--ms-mana-g);
    }
    &.hb {
      background-color: var(--ms-mana-b);
    }
    &.hc {
      background-color: var(--ms-mana-c);
    }
  }
  .var,
  .num {
    --ms-size: 0.85em;
    text-align: center;
    align-content: center;
    align-self: center;
    --diameter: 1.3em;
    height: var(--diameter);
    width: var(--diameter);
    color: black;
    background-color: var(--ms-mana-c);
    border-radius: 100%;
    padding-left: 1px;
  }
}
